{% extends 'base.html' %}
{% block title %}Добавить категории{% endblock %}
{% block content %}
<main style="margin-top:7rem;" role="main">


    <section class="mt-4 mb-5">
        <div style="text-align:center" class="container mb-4">
            <a  href="{% url 'detail-profile' user.id %}"> <- Назад</a>
            <h1 class="font-weight-bold title">Добавить категорию</h1>
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" value="Запостить">
            </form>
        </div>
    </section>

</main>
{% endblock %}