{% extends 'base.html' %}
{% block title %}login{% endblock %}
{% block content %}
<main style="margin-top:7rem;" role="main">


    <div class="container">
        <div class="block__section">
            <div class="block">
                <div style="padding: 0 15px" class="block_text">
                    <p style="text-align: right;margin-bottom:1rem">Количество пользователей: {{users.count}}</p>
                    <h3 style="margin-bottom:1rem">Доброго времени суток!</h3>
                    <p>IKIGAI - японское понятие, означающее ощущение собственного предназначения в жизни</p>
                </div>

            </div>
            <div class="block">
                <div class="block_text">
                    <h1 style="margin-bottom: 0.5rem" class="font-weight-bold title">Войти</h1>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <input style="
                        background-color: #4CAF50; /* Green */
                        border: none;
                        color: white;
                        padding: 10px 20px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                        border-radius:10px;
                        " type="submit" value="Войти">
                    </form>
                    <p style="margin-top: 2rem">Нет аккаунта? <a style="color: #4CAF50;" href="{% url 'register' %}">Регистрация</a></p>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}

