{% extends 'base.html' %}
{% block title %}login{% endblock %}
{% block content %}
<main style="margin-top:7rem;" role="main">


    <section>
        <div class="info">

        </div>
        <div style="">
            <h1 class="font-weight-bold title">Войти</h1>
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.as_p }}
                {% csrf_token %}
                <input style="
                        background-color: #4CAF50; /* Green */
                        border: none;
                        color: white;
                        padding: 10px 20px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                        border-radius:10px;
                        " type="submit" value="Войти">
            </form>
            <h5 style="margin-top: 3rem">У вас нет аккаунта? <a style="color:#4CAF50" href="{% url 'register' %}">Регистрация</a></h5>
        </div>
    </section>

</main>
{% endblock %}
