<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{%block title%}{% endblock %}</title>
	<script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
	<link rel="stylesheet" href="{% static 'css/app.css' %}">
	<link rel="stylesheet" href="{% static 'css/theme.css' %}">

</head>

<body>
{% if request.user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
	<a class="navbar-brand font-weight-bolder mr-3" href="{% url 'index' %}"><img width="60px" src="{% static 'img/logo.png' %}"></a>
	<a style="font-weight: bold;" class="navbar-brand font-weight-bolder mr-3" href="{% url 'index' %}">IKIGAI</a>
	<button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarsDefault">
		<ul style="width:80%;border-radius:10%;" class="navbar-nav mr-auto align-items-center">
			<form class="bd-search hidden-sm-down">
				<input type="text" class="form-control bg-graylight border-0 font-weight-bold" id="search-input" placeholder="Search..." autocomplete="off">
				<div class="dropdown-menu bd-search-results" id="search-results">
				</div>
			</form>
		</ul>
		<ul style="border-radius:10%;" class="navbar-nav ml-auto align-items-right">
			{% if request.user.is_authenticated %}
			<li class="nav-item">
				<span class="nav-link">
					<a href="{% url 'detail-profile' user.id %}">
					<div class="img_block align-middle" style="
					background: url({{ user.profile.image.url }});
					width:40px;
					height:40px;
					display: inline-block;
					background-position: center;
					background-size: cover;
					border-radius: 100%;
					"></div>
					<span class="align-middle">{{user.username}}</span>
					</a>
				</span>
			</li>
			{% endif %}
		</ul>
		<ul class="navbar-nav align-items-center">
			{% if request.user.is_authenticated %}

			<li class="nav-item">


			{% else %}
				<a href="{% url 'login' %}" class="nav-item">Login</a>
			{% endif %}

			</li>

<!--			<li class="nav-item">-->
<!--					{% if request.user.is_authenticated %}-->
<!--					<a class="nav-link" href="{% url 'post-create' %}"><span class="align-middle">Добавить пост</span></a>-->
<!--					<a class="nav-link" href=""><span class="align-middle">Мои посты</span></a>-->
<!--					<a class="nav-link" href="{% url 'update_profile' user.profile.id %}"><span class="align-middle">Мой профиль</span></a>-->

<!--					<a class="nav-link" href="{% url 'logout' %}"><span class="align-middle">Выйти</span></a>-->
<!--					{% endif %}-->
<!--			</li>-->
		</ul>
	</div>
</nav>
{% endif %}
{% block content %}

{% endblock %}


<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>

<footer class="footer pt-5 pb-5 text-center">

	<div class="container">

		<div class="socials-media">

			<ul class="list-unstyled">
				<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-facebook"></i></a></li>
				<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-twitter"></i></a></li>
				<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-instagram"></i></a></li>
				<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-google-plus"></i></a></li>
				<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-behance"></i></a></li>
				<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-dribbble"></i></a></li>
			</ul>

		</div>

		<!--
          All the links in the footer should remain intact.
          You may remove the links only if you donate:
          https://www.wowthemes.net/freebies-license/
        -->
		<p>©  <span class="credits font-weight-bold">
            <a target="_blank" class="text-dark" href="#"><u></u> by Abi&Peri</a>
          </span>
		</p>


	</div>

</footer>
</body>

</html>
