<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home - Pintereso Bootstrap Template</title>
	<script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
	<link rel="stylesheet" href="{% static 'css/app.css' %}">
	<link rel="stylesheet" href="{% static 'css/theme.css' %}">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
	<a class="navbar-brand font-weight-bolder mr-3" href="index.html"><img src="assets/img/logo.png"></a>
	<button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarsDefault">
		<ul class="navbar-nav mr-auto align-items-center">
			<form class="bd-search hidden-sm-down">
				<input type="text" class="form-control bg-graylight border-0 font-weight-bold" id="search-input" placeholder="Search..." autocomplete="off">
				<div class="dropdown-menu bd-search-results" id="search-results">
				</div>
			</form>
		</ul>
		<ul class="navbar-nav ml-auto align-items-center">
			<li class="nav-item">
				<a class="nav-link active" href="{% url 'index' %}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="post.html">Post</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="author.html"><img class="rounded-circle mr-2" src="assets/img/av.png" width="30"><span class="align-middle">Author</span></a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<svg style="margin-top:10px;" class="_3DJPT" version="1.1" viewbox="0 0 32 32" width="21" height="21" aria-hidden="false" data-reactid="71"><path d="M7 15.5c0 1.9-1.6 3.5-3.5 3.5s-3.5-1.6-3.5-3.5 1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5zm21.5-3.5c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5zm-12.5 0c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5z" data-reactid="22"></path></svg>
				</a>
				<div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="dropdown02">
					<a class="nav-link" href="{% url 'post-create' %}"><span class="align-middle">Add post</span></a>

				</div>
			</li>
		</ul>
	</div>
</nav>

{% block content %}

{% endblock %}


<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>

<footer class="footer pt-5 pb-5 text-center">

	<div class="container">

		<div class="socials-media">

			<ul class="list-unstyled">
				<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-facebook"></i></a></li>
				<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-twitter"></i></a></li>
				<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-instagram"></i></a></li>
				<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-google-plus"></i></a></li>
				<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-behance"></i></a></li>
				<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-dribbble"></i></a></li>
			</ul>

		</div>

		<!--
          All the links in the footer should remain intact.
          You may remove the links only if you donate:
          https://www.wowthemes.net/freebies-license/
        -->
		<p>©  <span class="credits font-weight-bold">
            <a target="_blank" class="text-dark" href="https://www.wowthemes.net/pintereso-free-html-bootstrap-template/"><u>Pintereso Bootstrap HTML Template</u> by WowThemes.net.</a>
          </span>
		</p>


	</div>

</footer>
</body>

</html>
