<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IKIGAI</title>
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
          integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/content.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" href="{% static 'css/myPosts.css' %}">
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="header">
    <div class="container">
        <nav class="header__nav">

            {% if request.user.is_authenticated %}
            <div class="header__content">
                <div class="header__content-logo">
                    <a href="{% url 'index' %}"><img class="header__content-img" src="{% static 'images/logo.png' %}" alt=""></a>
                </div>
                <h1 class="header__content-title">
                    <a href="{% url 'index' %}">IKIGAI</a>
                </h1>
                <form name="filter" method="get" action="{% url 'index' %}" class="header__content-search">

                    <input required="" name="search" class="header__content-input" type="search" placeholder="Search">
                    <button type="submit">

                    </button>

                </form>
            </div>
            {% else %}
            <div class="header__content">
                <div class="header__content-logo">
                    <a href="#"><img class="header__content-img" src="{% static 'images/logo.png' %}" alt=""></a>
                </div>
                <h1 class="header__content-title">
                    <a href="#">IKIGAI</a>
                </h1>
            </div>
            {% endif %}

            {% if request.user.is_authenticated %}
                <div class="header__admin">
                    <div style="background: url({{ user.profile.image.url }});
                        width:40px;
                        height:40px;
                        display: inline-block;
                        background-position: center;
                        background-size: cover;
                        border-radius: 100%;
                        " class="header__admin-image">
                    </div>
                    <a href="{% url 'detail-profile' user.id %}" class="header__admin-link">
                        {{user.username}}
                    </a>
                </div>
            {% endif %}
        </nav>
    </div>
</header>

{% block content %}

{% endblock %}

<footer class="footer">
    <div class="container">
        <nav class="footer__nav">
            <ul class="footer__list">
                <li class="footer__list-item">
                    <i class="fab fa-js"></i>
                </li>
                <li class="footer__list-item">
                    <i class="fab fa-react"></i>
                </li>
                <li class="footer__list-item">
                    <i class="fab fa-node"></i>
                </li>
                <li class="footer__list-item">
                    <i class="fab fa-html5"></i>
                </li>
            </ul>
        </nav>
        <p class="footer__devs">
            Abi&Peri
        </p>
    </div>
</footer>

</body>
</html>
