{% extends 'base.html' %}
{% load static %}
{%block title%}Home{% endblock %}
{% block content %}
<main role="main">


	<section class="mt-4 mb-5">
		<div class="container mb-4">
			<h1 class="font-weight-bold title">Explore</h1>
			<div class="row">
				<nav class="navbar navbar-expand-lg navbar-light bg-white pl-2 pr-2">
					<button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExplore" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarsExplore">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="{% url 'index' %}">All</a>
							</li>
							{% for category in categoryes %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'category_list' category.slug %}">{{category.name}}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="card-columns">
					{% for post in posts %}

					<div class="card card-pin">
						<img class="card-img" src="{{post.img.url}}" alt="Card image">
						<div class="overlay">
							<h2 class="card-title title">{{post.title}}</h2>
							<div class="more">
								<a href="{% url 'detail_post' post.id %}">
									<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

</main>
{% endblock %}
