{% extends 'base.html' %}
{% load static %}
{%block title%}{{post.title}}{% endblock %}
{% block content %}
<main role="main">


	<section class="bg-gray200 pt-5 pb-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7">
					<article class="card">
						<img class="card-img-top mb-2"
							 src="{{post.img.url}}"
							 alt="Card image">
						<div class="card-body">
							<p>Категории: <a style="text-decoration:none;" href="{% url 'category_list' post.category.slug %}">{{post.category}}</a></p>
							<h1 class="card-title display-4">
								{{post.title}} </h1>
							<p>{{post.description}}</p>


							<small class="d-block"><a class="btn btn-sm btn-gray200" href="{% url 'detail-profile' post.user.id %}"><i
									class="fa fa-external-link"></i> {{post.user}}</a></small>
							{% if request.user.is_authenticated %}
								{% if request.user.username == post.user %}
									<small class="d-block"><a class="btn btn-sm btn-gray200" href="{{post.user.url}}"><i
									class="fa fa-external-link"></i> Редактировать </a></small>
								{% endif %}
							{% endif %}
							<!-- Begin Comments -replace demowebsite with your own id
                            ================================================== -->
							<div id="comments" class="mt-4">

							</div>
							<!--End Comments
                            ================================================== -->
						</div>
					</article>
				</div>
			</div>
		</div>

		<div class="container-fluid mt-5">
			<div class="row">
				<h5 class="font-weight-bold">Похожие посты</h5>
				<div class="card-columns">
					{% for like_post in popular_posts %}
					<div class="card card-pin">
						<img class="card-img"
							 src="{{like_post.img.url}}"
							 alt="Card image">
						<div class="overlay">
							<h2 class="card-title title">{{like_post.title}}</h2>
							<div class="more">
								<a href="{%url 'detail_post' like_post.id%}">
									<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Подробнее </a>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</section>

</main>

{% endblock %}