{% extends 'base.html' %}
{% load static %}
{%block title%}{{post.title}}{% endblock %}
{% block content %}
<main>
    <section class="posts">
        <div class="container">
            <div class="posts__content">
                <div class="posts__card">
                    <div class="posts__user-social">
                        <div style="background: url({{post.user.profile.image.url}});
                        width:40px;
                        height:40px;
                        display: inline-block;
                        background-position: center;
                        background-size: cover;
                        border-radius: 100%;
                        " class="header__admin-image posts__user-image">

                        </div>
                        <a href="{% url 'detail-profile' post.user.id %}" class="header__admin-link posts__user-link">
                            {{post.user}}
                        </a>
                            {% if post.user == request.user %}
                            <a href="{% url 'edit-post' post.id %}">
                                изменить
                            </a>
                        {% endif %}
                    </div>
                    <img class="posts__card-img"
                         src="{{post.img.url}}" alt="">
                    <div class="posts__user">
                        <h2 class="posts__user-cat">
                            <a href="{% url 'category_list' post.category.slug %}">
                                Category <span>{{post.category}}</span>
                            </a>
                        </h2>
                        <h3 class="posts__user-title">
                            {{post.title}}
                        </h3>
                        <h4 class="posts__user-subtitle">
                            {{post.description}}
                        </h4>
                        <p>Нравится: {{post.likes.count}}</p>
                        <div class="posts__review">
                            {% if request.user in post.likes.all %}
                            <a href="{% url 'like' post.id %}" class="posts__dislike">
                                <i class="fas fa-thumbs-down"></i>
                            </a>
                            {% else %}
                            <a href="{% url 'like' post.id %}" class="posts__like">
                                <i class="fas fa-thumbs-up"></i>
                            </a>
                            {% endif %}
                        </div>





                        <h3 style="margin: 2rem 0 0.5rem;" class="mb-5">{{comments.count}} Комментариев</h3>
                        <div style="width: 100%;">
                            {% for comment in comments %}
                            <div style="margin-bottom: 1rem;" class="posts__commit">
                                <div style="width:10%" class="posts__commit-foricon">
                                    <a href="{% url 'detail-profile' comment.user.id %}">
                                        <div style="background: url({{comment.user.profile.image.url}});
                                            width:60px;
                                            height:60px;
                                            display: inline-block;
                                            background-position: center;
                                            background-size: cover;
                                            border-radius: 100%;
                                            " class="posts__commit-icon">
                                                </div>
                                    </a>
                                </div>

                                <div style="width:90%" class="posts__commit-info">
                                    <div style="display:flex; justify-content:space-between;" class="posts__commit-user">
                                        <p><a href="{% url 'detail-profile' comment.user.id %}">{{comment.user}}</a></p>
                                        <p style="font-size:12px">{{comment.commented_time}}</p>
                                    </div>

                                    <div class="posts__commit-input">
                                        {{comment.comment}}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="form-block">


                                <form action="{% url 'add_comment' post.id %}" enctype="multiparty/form-data" method="post">
                                    <h3 style="margin-bottom:1rem">Оставить коммкентарий: </h3>
                                    {{form}}
                                    {% csrf_token %}
                                    <button style="" type="submit" class="btn btn-primary">Отправить</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-admin">
        <div class="container">
            <h2 class="content__title">
                Posts
            </h2>
            <div class="content__row">
                <div class="content__card">
                    <img class="content__card-img"
                         src="../../images/electric-circle-with-lightning-effect_97886-3314.webp" alt="">
                    <div class="content__user">
                        <h3 class="content__user-title">
                            2
                        </h3>
                        <div class="content__user-social">
                            <div class="header__admin-image content__user-image">
                                <img src="" alt="">
                            </div>
                            <a href="#" class="header__admin-link content__user-link">
                                Admin
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}